.header {
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to contrast with the background */
    text-align: center;
    padding: 50px;
    margin-top: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    background-color: #696969;
  }
  
  .header__content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  .header__content {
    max-width: 800px;
    max-height: 100px;
    margin: 0 auto;
  }